#root {
  display: flex;
  flex-direction: row;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: orange;
}

.alternativeColor {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
}
